<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <link rel="shortcut icon" class="favicon" type="image/x-icon" th:href="@{/images/favicon2.ico}"/>
    <meta charset="utf-8">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{str.adminPage}"></title>
    <link rel="stylesheet" th:href="@{/css/addUser.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap1.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/addUser.js}"></script>
</head>
<body>
<div class="main-menu" th:replace="fragments/header2"></div>
<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h1 class="first" th:text="#{str.admin.one}"></h1>
            <form class="input-form-admin-2" action="#" data-th-action="@{/}" th:object="${personAdd}" method="post">
                <fieldset>
                    <div class="form-group">
                        <strong class="text-form" th:text="#{str.admin.two}"> </strong>
                        <input class="input-add-user form-control" id="exampleInputEmail1" type="text"
                               th:value="${newLogin}"
                               data-th-name="newLogin" /> </p>
                    </div>
                    <div class="form-group">
                        <strong class="text-form" th:text="#{str.admin.three}"> </strong>
                        <input class="input-add-user form-control" id="exampleInputEmail2" type="text"
                               th:value="${newPassword}"
                               data-th-name="newPassword" /> </p>
                    </div>
                    <div class="form-group">
                        <strong class="text-form" th:text="#{str.name}"> </strong>
                        <input class="input-add-user form-control" id="exampleInputEmail3" type="text"
                               th:value="${name}" data-th-name="name" /> </p>
                    </div>
                    <div class="form-group">
                        <strong class="text-form" th:text="#{str.surname}"> </strong>
                        <input class="input-add-user form-control" id="exampleInputEmail4" type="text"
                               th:value="${surname}"
                               data-th-name="surname" /> </p>
                    </div>
                    <div class="form-group">
                        <strong class="text-form" th:text="#{str.admin.who}"> </strong>
                        <div class="btn-toolbar justify-content-between" role="toolbar"
                             aria-label="Toolbar with button groups">
                            <div class="btn-group" role="group" aria-label="First group">
                                <button type="button" class="btn btn-secondary input-add-user doc" id="button-doc"
                                        th:text="#{str.doctor}"></button>
                                <button type="button" class="btn btn-secondary input-add-user pat" id="button-pat"
                                        th:text="#{str.patient}"></button>
                            </div>
                            <input class="inp" id="exampleInputEmail5" type="hidden"
                                   th:value="${newWho}"
                                   data-th-name="newWho" /> </p>
                        </div>

                    </div>

                    <div class="form-group">
                        <input class="btn text-form-button" type="submit" value="Add user" data-th-value="#{add.user}"/>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12"></div>
    </div>
</div>
<!--</div>-->
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container text-center">
        <div class="navbar-text-center ">
            <p class="footer-text" th:replace="fragments/footer" th:insert="~{fragments/footer::copy}"></p>
        </div>
    </div>
</div>
</body>
</html>