<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>
<h1 th:text="#{str.chat}"></h1>
<div class="chat_field">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->

<!--    <script>-->
<!--        $(document).ready(function () {-->

<!--            //call function when page is loaded-->
<!--            getContent();-->

<!--            //set on change listener-->
<!--            $('#selection').change(getContent);-->

<!--            function getContent() {-->

<!--                //create url to request fragment-->
<!--                var url = /content/;-->
<!--                if ($('#selection').val() === "Content 1") {-->
<!--                    url = url + "content1";-->
<!--                } else {-->
<!--                    url = url + "content2";-->
<!--                }-->

<!--                //load fragment and replace content-->
<!--                $('#replace_div').load(url);-->
<!--            }-->
<!--        })-->
<!--    </script>-->
    <div id="next-user-profile" >
    </div>
    <div class="messageForm">
        <form id="sampleFrom" action="#" data-th-action="@{/chat}"  data-th-object="${message}" method="post">
        <ul id="messageArea">

            <li class="event-message">
                <p  th:text="#{chat.liOne}" ></p>


            </li>
            <tr class="messages-list" th:value="${messagesList}">
            <tr class="messages-list" th:each="message : ${messagesList}">
              <div class="person-item">  
            <td th:text="${message.message}"> firstName </td>
            <!--    <input id="id" name="personsId" th:field="*{person.id}" type="hidden"/>-->
            </div>
            </tr>
        </ul>
        <div class="input-group">
            <input type="text" id="message" th:placeholder="#{chat.default}" th:value="${content}" data-th-name="content"/>
        </div>
<!--        <textarea class="text_field" id="text-area-chat" th:placeholder="#{chat.default}" rows="10" cols="45"-->
<!--                  th:object="${message}">-->

<!--        </textarea>-->
        <p><input type="submit" class="send-button" value="Send" data-th-value="#{chat.send}" /></p>
        </form>
    </div>
</div>
</body>
</html>