<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="#{str.chat}"></h1>
<div class="chat_field">
    <div id="next-user-profile" >
    </div>
    <div class="messageForm">
        <form action="#" data-th-action="@{/chat}" data-th-object="${message}" method="post">
        <ul id="messageArea">
            <li class="event-message">
                <p  th:text="#{chat.liOne}" ></p>
            </li>
            <tr th:each="message : ${messagesList}">
              <div class="person-item">  
            <td th:text="${message.content}"> firstName </td>
            <!--    <input id="id" name="personsId" th:field="*{person.id}" type="hidden"/>-->
            </div>
            </tr>
        </ul>
        <div class="input-group">
            <input type="text" id="message" th:placeholder="#{chat.default}" th:value="${content}" data-th-name="content"/>
        </div>
<!--        <textarea class="text_field" id="text-area-chat" th:placeholder="#{chat.default}" rows="10" cols="45"-->
<!--                  th:object="${message}">-->

<!--        </textarea>-->
        <p><input type="submit" value="Send" data-th-value="#{chat.send}" /></p>
        </form>
    </div>
</div>
</body>
</html>