<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/chat3.css}"/>
    <link rel="stylesheet" th:href="@{/css/chat.css}"/>
    <!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/chatScript.js}"></script>
    <script type="text/javascript" th:src="@{/js/jsChat3.js}"></script>

</head>
<body>
<!--<header class="language-menu">-->
<div class="language-menu">
    <a th:href="@{/chat?lang=en}" class="lang-menu-item">English</a>
    &nbsp;|&nbsp;
    <a th:href="@{/chat?lang=nl}" class="lang-menu-item">Dutch</a>
    &nbsp;|&nbsp;
    <a th:href="@{/chat?lang=ru}" class="lang-menu-item">Русский</a>
    &nbsp;|&nbsp;
    <a th:href="@{/login?logout}" class="lang-menu-item" th:text="#{str.logout}"></a>
</div>
<!--</header>-->
<div class="container-fluid bg">
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
<!--    <div class="col">-->

        <div class="card">
            <div class="card-header bg-darkblue text-white py-1 px-2" style="flex: 1 1">
                <div class="d-flex flex-row justify-content-start">
                    <div class="col-1 p-1">
                        <button class="btn text-white bg-darkblue p-0 hover-color-lightgray">
                            <i class="fas fa-bars fa-2x"></i>
                        </button>
                    </div>
                    <div class="col">
                            <b th:text="${destName}"></b>

<!--                        <div class="my-0">-->
<!--                            <small>last seen Feb 18 2017</small>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>

            <div class="card-body bg-lightgrey d-flex flex-column p-0" style="flex: 9 1">

                <div class="container-fluid message-scroll" style="flex: 1 1">
                    <tr class="messages-list" th:each="message : ${messagesList}">
                    <div class="row" th:each="message : ${messagesList}">
                        <div class="card message-card m-1">
                            <div class="card-body p-2">
                                <span class="mx-2" th:text="${message.message}"></span>
                                <span class="float-right mx-1"><small><i class="fas fa-eye fa-fw"
                                                                              style="color:#e64980"></i></small></span>
                            </div>
                        </div>
                    </div>
                    </tr>
<!--                    <div class="row justify-content-end">-->
<!--                        <div class="card message-card bg-lightblue m-1">-->
<!--                            <div class="card-body p-2">-->
<!--                                <span class="mx-2">Hello, Stan</span>-->
<!--                                <span class="float-right mx-1"><small>14:14<i class="fas fa-eye fa-fw"-->
<!--                                                                              style="color:#e64980"></i></small></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row justify-content-end">-->
<!--                        <div class="card message-card bg-lightblue m-1">-->
<!--                            <div class="card-body p-2">-->
<!--                                <span class="mx-2">What's up?</span>-->
<!--                                <span class="float-right mx-1"><small>14:14<i class="fas fa-check fa-fw"-->
<!--                                                                              style="color:#66a80f"></i></small></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="card message-card m-1">-->
<!--                            <div class="card-body p-2">-->
<!--                                <span>So far so good, but my plumbus doesn't work as well as Meeseeks can't fix it, please, help me or they... They gonna kill Morty...</span>-->
<!--                                <span class="float-right"><small>14:16<i class="fas fa-eye fa-fw"-->
<!--                                                                         style="color:#e64980"></i></small></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row justify-content-end">-->
<!--                        <div class="card message-card bg-lightblue m-1">-->
<!--                            <div class="card-body p-2">-->
<!--                                    <span>I've called Rick, I'm on the way to your house,-->
<!--                            but probably I lost my portal gun at the party yesterday.-->
<!--                            Anyway, don't call the other Meeseeks solve this shit.</span>-->
<!--                                <span class="float-right mx-1"><small>14:21<i class="fas fa-check fa-fw"-->
<!--                                                                              style="color:#66a80f"></i></small></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="input-group">
                    <input type="text" class="form-control border-0" placeholder="Input message..." id="myInput">
                    <span class="input-group-addon">
                            <button class="btn border-0 bg-white text-primary hover-color-darkblue" type="button" th:text="#{button.send}">
                                <i class="fab fa-telegram-plane fa-2x"></i>
                            </button>
                        </span>
                </div>
            </div>
        </div>
<!--    </div>-->
    </div>
    <div class="col-3"></div>
</div>
</div>
</body>
</html>