<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:class="logIn">

    </div>

</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a th:href="@{/index?lang=en}">Name (English)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/index?lang=nl}">Naam (Dutch)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/index?lang=ru}">Имя (Rus)</a>
</div>
<div th:replace="fragments/header"></div>
<p th:text="#{index.main.text}"></p>
<div th:replace="fragments/footer" th:insert="~{fragments/footer::copy}">&copy; 2011 The Static Templates</div>
</body>
</html>