<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png" sizes="16x16">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <meta name="viewport" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/js/indexSlide.js}"/>
</head>
<body>
<!--<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">-->
<div class="language-menu">
    <a th:href="@{/?lang=en}" class="lang-menu-item">English</a>
    &nbsp;|&nbsp;
    <a th:href="@{/?lang=nl}" class="lang-menu-item">Dutch</a>
    &nbsp;|&nbsp;
    <a th:href="@{/?lang=ru}" class="lang-menu-item">Русский</a>
    |&nbsp;
    <a th:href="@{/login?logout}" class="lang-menu-item" th:text="#{str.logout}"></a>
</div>
<div class="main-menu" th:replace="fragments/header2"></div>

<div class="slideshow-container">

<!--    &lt;!&ndash; Full-width images with number and caption text &ndash;&gt;-->
<!--    <div class="mySlides fade">-->
<!--        <div class="numbertext" style="padding: 0px;">1 / 3</div>-->
<!--        <img th:src="@{/images/pic4.jpg}" >-->
<!--        <div class="text">Caption Text</div>-->
<!--    </div>-->

<!--    <div class="mySlides fade">-->
<!--        <div class="numbertext" style="padding: 0px;">2 / 3</div>-->
<!--        <img th:src="@{/images/pic5.jpg}" style="width:100%">-->
<!--        <div class="text">Caption Two</div>-->
<!--    </div>-->

<!--    <div class="mySlides fade">-->
<!--        <div class="numbertext" style="padding: 0px;">3 / 3</div>-->
<!--        <img th:src="@{/images/pic7.jpg}" style="width:100%">-->
<!--        <div class="text">Caption Three</div>-->
<!--    </div>-->

    <!-- Next and previous buttons -->
<!--    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
<!--    <a class="next" onclick="plusSlides(1)">&#10095;</a>-->
</div>
<!--<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">-->
<!--    <div class="col-md-4 col-sm-4 col-xs-12"></div>-->
<!--    <div class="container text-center">-->
<!--        <div class="col-md-4 col-sm-4 col-xs-12">-->
<!--            <div class="container footer"><p class="footer-text" th:replace="fragments/footer" th:insert="~{fragments/footer::copy}"></p></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-4 col-sm-4 col-xs-12"></div>-->
<!--</div>-->
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container text-center">
        <div class="navbar-text-center ">
            <p></p>
            <p class="footer-text" th:replace="fragments/footer" th:insert="~{fragments/footer::copy}"></p>
        </div>
    </div>
</div>
</body>
</html>