<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<link rel="shortcut icon" class="favicon" type="image/x-icon" th:href="@{/images/favicon2.ico}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap1.min.css}">
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/usersList.css}"/>
<script th:src="@{/js/usersList.js}"></script>
<head>
    <meta charset="UTF-8">
    <title th:text="#{str.listOfUsers}"></title>
</head>
<body>
<!--<div class="language-menu">-->
<!--    <a th:href="@{/list_of_users?lang=en}" class="lang-menu-item">English</a>-->
<!--    &nbsp;|&nbsp;-->
<!--    <a th:href="@{/list_of_users?lang=nl}" class="lang-menu-item">Dutch</a>-->
<!--    &nbsp;|&nbsp;-->
<!--    <a th:href="@{/list_of_users?lang=ru}" class="lang-menu-item">Русский</a>-->
<!--    &nbsp;|&nbsp;-->
<!--    <a th:href="@{/logout}" class="lang-menu-item" th:text="#{str.logout}"></a>-->
<!--</div>-->

<div class="main-menu" th:replace="fragments/header2"></div>

<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-12"></div>
        <div class="col-md-6 col-sm-8 col-xs-12">
            <div>
                <tr th:each="person : ${persons}">
                    <div name="f" class="form-container">
                        <div class="person-item">  
                            <span class="d-inline border-span">
                                <div class="doc-na-sur">
                                <h4 class="h3 dName" th:text="${person.firstName}"> firstName</h4>
                                <br><h4 class="h4 dSurname" th:text="${person.lastName}"> lastName</h4>

                                </div>
                                <div class="doc-na-sur">
                                    <h4 th:switch="${person.id}" class="doc-image">
                                        <img th:case="3" class="doc-image-item" th:src="@{/images/dentist.jpg}"
                                             th:width="170px">
                                        <img th:case="4" class="doc-image-item" th:src="@{/images/cardio.jpg}"
                                             th:width="180px">
                                        <img th:case="5" class="doc-image-item" th:src="@{/images/dermo.jpg}"
                                             th:width="160px">
                                        <img th:case="6" class="doc-image-item" th:src="@{/images/cosme.jpg}"
                                             th:width="160px">
                                        <img th:case="*" class="doc-image-item" th:src="@{/images/noPic.png}"
                                             th:width="160px">
                                    </h4>
                                </div>
                                <form th:action="@{|/list_of_users/${person.id}|}" method="post">
                                    <input type="submit" class="start-chat-btn"  th:value="#{str.startChat}"/>
                                </form>
                        </span>
                        </div>
                    </div>
                </tr>
            </div>
        </div>
    </div>
</div>



<!--<div th:replace="fragments/footer" th:insert="~{fragments/footer::copy}">&copy; 2011 The Static Templates</div>-->
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container text-center">
        <div class="navbar-text-center ">
            <p class="footer-text" th:replace="fragments/footer" th:insert="~{fragments/footer::copy}"></p>
        </div>
    </div>
</div>
</body>
</html>