<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header class="language-menu">
    <div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
        <a th:href="@{/login?lang=en}">Login (English)</a>
        &nbsp;|&nbsp;
        <a th:href="@{/login?lang=nl}">Login (Dutch)</a>
        &nbsp;|&nbsp;
        <a th:href="@{/lofin?lang=ru}">Вход (Rus)</a>
    </div>
</header>
<div class="container-fluid bg">


    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">

            <form name="f" th:action="@{/login}" method="post" class="form-container">
                <div class="form-group">
                    <label for="exampleInputUsername1" th:text="#{text.username}"></label>
                    <input type="username" class="form-control" id="exampleInputUsername1" name="username"/>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" th:text="#{text.password}"></label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password"/>
                </div>
                <legend th:text="#{text.pleaseLogin}"></legend>
                <div th:if="${param.error}" class="alert alert-error" th:text="#{text.invalidLogin}">
                </div>
                <div th:if="${param.logout}" class="alert alert-success" th:text="#{text.beenLoggedOut}">
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success btn-block" th:text="#{str.login}"></button>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="navbar-text ">
                <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="container footer"><p th:replace="fragments/footer" th:insert="~{fragments/footer::copy}"></p></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>
</body>
</html>