<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" class="favicon" type="image/x-icon" th:href="@{/images/favicon2.ico}"/>
    <meta charset="UTF-8">
    <title th:text="#{str.history}"></title>
    <link rel="stylesheet" th:href="@{/css/history.css}"/>
<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap1.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<!--<div class="language-menu">-->
<!--    <a th:href="@{/?lang=en}" class="lang-menu-item">English</a>-->
<!--    &nbsp;|&nbsp;-->
<!--    <a th:href="@{/?lang=nl}" class="lang-menu-item">Dutch</a>-->
<!--    &nbsp;|&nbsp;-->
<!--    <a th:href="@{/?lang=ru}" class="lang-menu-item">Русский</a>-->
<!--    |&nbsp;-->
<!--    <a th:href="@{/logout}" class="lang-menu-item" th:text="#{str.logout}"></a>-->
<!--</div>-->
<div class="main-menu" th:replace="fragments/header2"></div>
<div class="history">
    <tr th:each="item : ${patHistory}">
          
        <div class="person-item">
            <p th:text="${item.doctorsName}"> Doctors Name</p>
            <p th:text="${item.visitTime}"> visit time</p>
            <p th:text="${item.doctorRecommendations}"> Docs reco</p>
            <!--    <input id="id" name="personsId" th:field="*{person.id}" type="hidden"/>-->
        </div>

    </tr>
    <!--    <input id="id" name="personsId" th:field="*{person.id}" type="hidden"/>-->
    <!--        <tr class="messages-list" th:value="${patHistory}">&ndash;&gt;-->
    <!--        <tr class="messages-list" th:each="item : ${patHistory}">-->
    <!--              -->
    <!--            <div class="person-item">  -->
    <!--                <td th:text="${item.time}"> firstName</td>-->
    <!--                &lt;!&ndash;    <input id="id" name="personsId" th:field="*{person.id}" type="hidden"/>&ndash;&gt;-->
    <!--            </div>-->
    <!--        </tr>-->
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container text-center">
        <div class="navbar-text-center ">
            <p class="footer-text" th:replace="fragments/footer" th:insert="~{fragments/footer::copy}"></p>
        </div>
    </div>
</div>
</body>
</html>