<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{http://localhost:8080/MedicineApp/css/visitTime.css}"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/visitTime.js}"></script>
    <script type="text/javascript" th:src="@{/js/alertOnVisit.js}"></script>

</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a th:href="@{/visit?lang=en}">Name (English)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/visit?lang=nl}">Naam (Dutch)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/visit?lang=ru}">Имя (Rus)</a>
</div>
<tr class="messages-list" th:value="${doctorsList}">
<tr class="messages-list" th:each="doctor : ${doctorsList}">
      <input id="hidden-input" type="hidden" value="1">
    <div class="person-item">
        <td th:text="${doctor.firstName}"> firstName</td>
        <td th:text="${doctor.firstName}"> lastName</td>

<!--        <select th:id="${doctor.id}" class="date-selectors">-->

<!--        </select>-->

        <select  th:id="${doctor.id}" class="selectors">

        </select>

<!--        <form th:action="@{|/visit_time/${doctor.id}|}" method="post">-->
        <form th:action="@{/visit_time}" method="post">
            <input type="submit" th:value="#{time.choose}" id="submit-visit"/>
        </form>
    </div>
</tr>
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container text-center">
        <div class="navbar-text-center ">
            <p></p>
            <p class="footer-text" th:replace="fragments/footer" th:insert="~{fragments/footer::copy}"></p>
        </div>
    </div>
</div>
</body>
</html>