<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{http://localhost:8080/MedicineApp/css/visitTime.css}"/>
    <link rel="stylesheet" th:href="@{http://localhost:8080/MedicineApp/js/visitTime.js}"/>
</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a th:href="@{/visit_time?lang=en}">Name (English)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/visit_time?lang=nl}">Naam (Dutch)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/visit_time?lang=ru}">Имя (Rus)</a>
</div>
<select>
    <option th:text=""></option>
    <option th:text=""></option>
    <option th:text=""></option>
    <option th:text=""></option>
    <option th:text=""></option>

</select>
</body>
</html>