<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mvc="http://www.w3.org/1999/xlink"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet"   th:href="@{http://localhost:8080/MedicineApp/WEB-INF/static/css/main.css}"/>

</head>

<body>

<!--<select id="locales">-->
<!--    <option value=""></option>-->
<!--    <option value="en" th:text="#{lang.en}"></option>-->
<!--    <option value="ru" th:text="#{lang.ru}"></option>-->
<!--</select>-->
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a th:href="@{/hello?lang=en}">Name (English)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/hello?lang=nl}">Naam (Dutch)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/hello?lang=ru}">Имя (Rus)</a>
</div>
<h1 th:text = "#{str.first}"></h1>


<!--/*@thymesVar id="person" type=""*/-->
<form action="#" th:action="@{formVal}" th:object="${person}" method="post">
    <fieldset>
        <p>
            <strong th:text="#{str.name}"> </strong>
            <input type="text" th:value="*{name}"/>
        </p>
        <input type="submit" value="Validate!" th:value="#{label.validate}"/>
    </fieldset>
</form>

</body>
</html>