<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{http://localhost:8080/static/css/login.css}"/>
    <link rel="stylesheet" th:href="@{http://localhost:8080/static/js/login.js}"/>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form"action="#" data-th-action="@{/login}" data-th-object="${person}" method="post" >
            <input type="text" th:placeholder="#{login.placeholder}" th:value="${login}" data-th-name="login"/>
            <input type="password" th:placeholder="#{password.placeholder}" th:value="${password}" data-th-name="password"/>
            <p><input type="submit" value="Validate!" data-th-value="#{label.login}"/></p>
        </form>
    </div>
</div>
</body>
</html>