<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a th:href="@{/formVal?lang=en}">Name (English)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/formVal?lang=nl}">Naam (Dutch)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/formVal?lang=ru}">Имя (Rus)</a>
</div>
<h1 th:text="#{name.res}"></h1>
<p th:text = "#{str.name} + ${name}"></p>
</body>
</html>