.first{
    color: #411669;
}

.text-form{
    color: #411669;
}

.input-form-admin-2{
    border: 1px;
    border-radius: 5px;
    border-color: #411669;
}

.text-form-button{
    color: #411669;
    background-color: #cccccc;
    border-radius: 5px;
    height: 30px;
    box-shadow: none;
    border: 1px;
}
.first{
    color: #411669;
    font-size: 20px;
    font-family: Helvetica;
}
.input-form-admin{
    border: 0px solid #fff; padding: 50px 60px; margin-top: 20vh;
    -webkit-box-shadow: -1px 3px 23px 8px rgba(72,107,179,1);
    -moz-box-shadow: -1px 3px 23px 8px rgba(72,107,179,1);
    box-shadow: -1px 3px 23px 8px rgba(72,107,179,1);
}
.language-menu{
    background-color: rgba(0, 0, 0, 0.8);
    text-align: right;padding:5px;margin:5px 0px;
    color: #fff;
    margin-top: -3px;
    height: 40px;
    font-size: 20px;
    font-family: Helvetica;
}
.lang-menu-item{
    color: #fff;
}

body{
    background: url("../images/cover1.jpg") no-repeat;
    background-size: cover;
    /*background-size: cover;*/
}

/*.input-form-admin{*/
/*    background-color: #e8e8e8;*/
/*    border-color: white;*/
/*}*/
/*.text-center {*/
/*    text-align: center;*/
/*    color: #dddfed;*/
/*}*/
.input-add-user{
    float: right;
}
input.text-form-button{
    border:solid 1px #411669;
    width:40%;
    border-radius:5px;
    color: #411669;
}