.main-menu{
    background-color: rgba(0, 0, 0, 0.6);
    text-align: right;padding:5px;margin:5px 0px;
    color: #fff;
    display: -moz-inline-box;
}
.menu-item{
    /*background-color: #6aa5cc;*/
    background-color: rgba(0, 0, 0, 0.6);
}

