body{
    background: url("http://localhost:8080/MedicineApp/images/cover1.jpg") no-repeat;
    background-size: cover;
    /*background-size: cover;*/
}
.text-center {
    text-align: center;
    color: #dddfed;
}