* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1400px;
    position: relative;
    margin: auto;
}
.carousel-item{
    width:600px;
}
.language-menu{
    background-color: rgba(0, 0, 0, 0.8);
    text-align: right;padding:5px;margin:5px 0px;
    color: #fff;
    margin-top: -3px;
    height: 40px;
    font-size: 20px;
    font-family: Helvetica;
}
.lang-menu-item{
    color: #fff;
}
.favicon{
    background-image: url('../images/favicon.png');
}
body{
    background-image: url('../images/cover1.jpg');
    background-size: cover;
    /*background-size: cover;*/
}
.text-center {
    text-align: center;
    color: #dddfed;
}


.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}
.carousel-inner{
    padding-left:33px;
}
