body{
    background: url("../images/cover1.jpg");
    background-size: cover;
    /*background-size: cover;*/
}
.text-center {
    text-align: center;
    color: #dddfed;
}
.language-menu{
    background-color: rgba(0, 0, 0, 0.8);
    text-align: right;padding:5px;margin:5px 0px;
    color: #fff;
    margin-top: -3px;
    height: 40px;
    font-size: 20px;
    font-family: Helvetica;
}
.lang-menu-item{
    color: #fff;
}


.form-container{
    border: 0px solid #fff; padding: 10px 60px; margin-top: 3vh;
    -webkit-box-shadow: -1px 3px 23px 8px rgba(72,107,179,1);
    -moz-box-shadow: -1px 3px 23px 8px rgba(72,107,179,1);
    box-shadow: -1px 3px 23px 8px rgba(72,107,179,1);
    border-radius:5px;
}
.person-item{
    padding-bottom:10px;
}
h4{
    display:inline;
}
.doc-image-item{
    margin-left:285px;
    margin-top:-55px
}
.border-span{
    display:inline;
}

.select-group{
    margin-left:0px;
    margin-top:-60px;
}