<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a th:href="@{/error?lang=en}">Name (English)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/error?lang=nl}">Naam (Dutch)</a>
    &nbsp;|&nbsp;
    <a th:href="@{/error?lang=ru}">Имя (Rus)</a>
</div>
    <h1 th:text="#{er.error}"></h1>
<p th:text="#{err.mes}"></p>
</body>
</html>