<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<h1>Spring Boot Web Thymeleaf Example</h1>

<form action="#" th:action="@{/formVal}" th:object="${person}" method="post">
    <fieldset>
        <p>
        Name: <input type="text" th:field="*{name}"/>
        </p>
        <input type="submit" value="Validate!" th:value="validate"/>
    </fieldset>
</form>

</body>
</html>