<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
</head>
<body>
<div class="main-menu">
    <div class="menu-item"><a th:href="@{/}" th:text="#{str.homePage}"></a></div>
    <div class="menu-item"><a th:href="@{/chat}" th:text="#{str.chat}"></a></div>
    <div class="menu-item"><a th:href="@{/hello}" th:text="#{str.name}"></a></div>
    <div class="menu-item"><a th:href="@{/visit_time}">Visit time page</a></div>
    <div class="menu-item"><a th:href="@{/login_form}" th:text="#{str.login}"></a></div>
    <div class="menu-item"><a th:href="@{/add_user_page}" th:text="#{str.adminAdduser}"></a></div>
</div>
</body>
</html>